html, body{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    display: block;
    border-radius: 10px;
}
body{
    background-color: rgb(15, 16, 49);
}
#container{
display: block;
justify-content: center;
margin:auto 2em
}
h3{ width: 7em;
    /*height:1px;*/
    margin-top:10%;
    border-bottom: 3px ridge white;
}
h3,h2, div{
    color: antiquewhite; /*rgb(29,75,84);*/
    /*rgb(39,54,78)*//*rgb(12,32, 52)*/
}
/*h1{
    color:rgb(39,54,78) ;
    font-size: 5em;
    margin:3em 5em;
    font-weight: bold;
    transform: rotate(90deg);
}*/
article,p,h6{
    color: rgb(82, 167, 138);
}
.row{
display: flex;
flex-direction: row;
/*grid-template-columns: 4em 4em 4em;*/
}
.flex{
    display: grid;
    grid-template-columns: 15em 15em 15em;
    /*grid-template-rows:2em  2em 2em;*/
    grid-gap: 5px
}
ul > li{
  
    background-color:rgb(12,32, 52) ;
    padding: 10px;
    margin:5px 5px;
    border-radius: 5px;
    height:fit-content;
    list-style: none;
}
.upload{
    display: inline-flex;
    width: 15em;
    padding: 10px;
    border: 1px solid aqua;
}
button{
    display: inline-flex;
    width:auto;
    height: auto;
    background-color: aqua;
}.predict{
    color:aqua ; 
    width: 100px;
    height: 30px;
    text-align: center;
    padding-top: 5px;
    border: 1px solid;
}
svg{
    width: 170px;
}

.text{
    height: 5em;
    display: inline-flex;
    flex-direction: row;
    flex-wrap: wrap;
}
p{
    margin:3em
}

h6{
    display:flex;
    width: 15em;
    margin-top: 2.5em;
    padding: 10px;
    border: 1px solid aqua;
    justify-content: center;
}
/*.text{
    
}*/
.text > p{
    display: flex;
    justify-content: flex-end;
    width: 50%;
    height:50%
}
.text>h1{
    display: flex;
    justify-content: center;
    margin-left: auto;
    color:rgb(39,54,78) ;
    font-size: 5em;
    margin:3em 5em;
    font-weight: bold;
    width: 50%;
    height:50%
}
@media screen  and (max-width:500px)
{   .flex{
    display: grid;
    grid-template-rows: 1fr 1fr ;
    grid-template-columns: 1fr 1fr ;
}
    .text{
    justify-content:center;
    width: 50%;
    height:50%
}
.text > p{
    display: flex;
    justify-content: flex-end;
    max-width: 50%;
    max-height:50%
}
.text> h1{
    display: inline-flex;
    justify-content: center;
    color:rgb(39,54,78) ;
    font-size: 5em;
    margin-left:10em;
    font-weight: bold;
    font-size: 2em;

}
}
