<!DOCTYPE html>
<html lang="en">

<head>
      <meta charset="UTF-8">
      <meta http-equiv="X-UA-Compatible" content="IE=edge">
      <meta name="viewport" content="width=device-width, initial-scale=1.0">
      <title>urban sound classifier</title>
</head>

<body>
      <center>
            <form action="/" method="POST" enctype="multipart/form-data">
                  <label> allowed format: .mp3</label> <br>
                  <input type="file" class="input-file" name="audio" id="audio"> <br>
                  <label class="iput-file" for="audio"> upload audio file...</label> <br>

                  <button type="submit" class="btn">Predict</button>
            </form>

            <div class="prediction">
                  <p>Your urban sound is {{ prediction }}</p>
              </div>
      
      </center>
</body>
</html>